//region Variables

$font: "Poppins", sans-serif;

$font-weight-reg: 400;
$font-color-reg: #e0e0e0;
$font-size-reg: 24px;
$font-line-height-reg: 32px;

$font-weight-heavy: 600;
$font-color-heavy: #F8F8F8;
$font-size-heavy: 32px;
$font-line-height-heavy: 36px;


// Colors
$grey-btn-fg: #D9DEE6;
$red-btn-bg: linear-gradient(180deg, #FA695A 100%, #F83375 100%);
$swipe-btn-shadow: drop-shadow(0px 10px 20px #E9E9EA);
$logo-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$profile-img-border-radius: 15px;
$body-bg: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
$swipe-btn-bg: #FFFFFF;
$like-btn-hover: #DBFFF4;
$nope-btn-hover: #FFE7EF;
$badge-rotation: rotate(-30deg);

// endregion

// region Top-Level Elements
*{
  box-sizing: border-box;
  font-family: $font;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: $body-bg no-repeat;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

// endregion

.container{
  display: flex;
  padding: 0;
  margin: 0 auto;
  color: $font-color-reg;
  background-size: cover;
  max-width: 550px;
}

.header-icons {
  justify-content: space-between;
}

.header-icon{
  height: 2rem;
  margin: 24px 18px;
}

.logo{
  filter: $logo-shadow;
}

.main-content{
  flex-direction: column;
  align-items: center;
  height: 100%;
}

header{
  height: 10vh;
}

.profile-section{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 64vh;
  width: 96%;
  background-image: url("../images/dog-teddy.jpg");
  border-radius: $profile-img-border-radius;
}

.user-heading{
  font-weight: $font-weight-heavy;
  font-size: $font-size-heavy;
  color: $font-color-heavy;
  margin-left: .75rem;
  margin-bottom: .5rem;
}

.user-subheading{
  font-weight: $font-weight-reg;
  font-size: $font-size-reg;
  color: $font-color-reg;
  margin-left: .75rem;
  margin-bottom: 1rem;
}

.swipe-btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin: 1.5em 0 0 0;
}

.btn{
  cursor: pointer;
}

.hidden{
  display: none;
}

.header-icon:hover{
  transform: scale(1.2);
}

.swipe-btn{
  background-color: $swipe-btn-bg;
  border-radius: 50%;
  padding: 3vh;
  filter: $swipe-btn-shadow;
}

.nope-btn:hover{
  background-color: $nope-btn-hover;
}

.like-btn:hover{
  background-color: $like-btn-hover;
}

.badge{
  margin: 3rem auto auto 1rem;
  max-width: 234px;
  transform: $badge-rotation;
}

.profile-section:hover > .user-detail-section{
  top: 0;
  z-index: 2;
}
.user-detail-section{
  position: relative;
  transition: all .15s ease-out;
  top: 17%;
  z-index: -15;
  border-radius: 0 0 $profile-img-border-radius $profile-img-border-radius;
  padding-top: 1em;
  width: 100%;
  background-color: rgba(0,0,0,.4)
}